<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1ERA_EVA_7_MORE_ACTIONS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>295F8EC51E4E2C5900F9407A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>295F8ED91E4E2C5A00F9407A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>295F8EE41E4E2C5A00F9407A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
